<div class="row">

  <div class="col-md-4 col-md-push-8">
  </div>

  <div class="col-md-8 col-md-pull-4">
    <div class="page-header">
      <h1>ホーム</h1>
    </div>
    <h2>ホットトピック</h2>
    <div *ngFor="let topic of topics" class="panel panel-default">
      <a routerLink="/topics/{{topic.id}}" href="/topics/{{topic.id}}">
        <div class="panel-body">
          <h2>{{topic.title}}</h2>
          <small>{{topic.updated}} 更新</small>
          <p>{{topic.body}}</p>
        </div>
      </a>
    </div>
  </div>

</div>